<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwipEmploy</title>
    <link rel="stylesheet" href="../public/styles/main.css">
</head>
<body>
    <section id="about-me-section" class="hidden">

        <div id="about-me-name-top">SwipEmploy.</div>

        <h2>We aim to 
            <span id="about-me-name"></span
            ><span id="cursor">|</span>
        </h2>

        <div id="about-me-flair">:&#41;</div>

        <div id="head-links">
            <a class="active" href="">Dikpaal Patel.</a>
            <!-- <a href="#skills-section">Skills</a> -->
        </div> 

        <a id="say-hi-tag" href="http://localhost:3000">
            <button id="say-hi">Have a look!</button>
        </a>
    </section>
    <script src="../public/js/main.js"></script>
</body>
</html>